/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

/.sass-cache
/.idea/replstate.xml
/.idea/workspace.xml
/resources/public/js/consize/
/resources/public/js/consize.js
/prelude*.txt
/bootimage.txt
