[submodule "resources/clojurescript"]
	path = resources/clojurescript
	url = https://github.com/kanaka/clojurescript
[submodule "resources/codemirror"]
	path = resources/codemirror
	url = https://github.com/marijnh/CodeMirror
[submodule "resources/jq-console"]
	path = resources/jq-console
	url = https://github.com/replit/jq-console
