[submodule "lib/clojurescript"]
	path = lib/clojurescript
	url = https://github.com/kanaka/clojurescript
[submodule "lib/codemirror"]
	path = lib/codemirror
	url = https://github.com/marijnh/CodeMirror
[submodule "lib/jq-console"]
	path = lib/jq-console
	url = https://github.com/replit/jq-console.git
