html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

h1, h2, h3 { font-weight: bold; }

h1 { display: inline; font-size: 24px; vertical-align: center; }

h2 { font-size: 20px; }

h3 { font-size: 18px; }

label { cursor: pointer; }

header ul { display: inline; }
header nav { background: #dddddd; }
header nav li { background: #cccccc; border-left: 1px solid #aaaaaa; display: inline-block; padding: 10px 0; }
header nav li:first-child { border-left: none; }
header nav li:hover { background: #bbbbbb; }
header nav li label { padding: 10px; }

article { *zoom: 1; background: #eeeeee; margin-left: 15%; padding: 20px; width: 85%; }
article:after { content: ""; display: table; clear: both; }
article > section { float: left; height: 400px; padding-left: 20px; width: 50%; }
article > section:first-of-type { padding-left: 0; }

#repl { background: white; height: 400px; }
#repl #console-buffer { max-height: 353px; white-space: pre-wrap; width: 100%; word-wrap: break-word; overflow-y: auto; }
#repl #console-buffer li .ns { float: left; }
#repl #console-input { clear: left; height: 100px; width: 100%; }

aside { background: #cccccc; float: left; padding: 20px; width: 15%; }
